@use "./Commonsstyles.scss" as *;

.adventure-section {
  padding: 5vh;

  .adventure-title {
  }

  .row {
    .col {
      .card {
        height: 100%;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
          0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
        overflow: hidden;

        .card-image {
          height: 50%;
          width: 100%;
          overflow: hidden;
        }
        .card-img-top {
          width: 100%;

          transition: 0.5s ease-in;
        }

        .card-body {
          height: 50%;
          padding: 20px;
          text-align: justify;

          .bottom-card {
            display: flex;
            width: 100%;
            .card-text {
              width: 70%;
              height: 100px;
              overflow: scroll;
              overflow-x: hidden;
              padding: 0px 20px 0px 0px;

              h1 {
                font-weight: bold;
              }
            }
           
            .btn {
              margin-top: 30px;
              margin-left: 10px;
              height: 40px;
            }
          }
        }
      }

      .card:hover {
        .card-img-top {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .row {
    .col {
      .card {
        .card-body {
          .bottom-card {
            display: block !important;
            .card-text {
              width: 100% !important;
              height: 100px;
              overflow: hidden !important;
              padding: 0px 0px 0px 0px;

              h1 {
                font-weight: bold;
              }
            }
            .btn {
              margin-top: 10px !important;
              margin-bottom: 10px !important;
              margin-left: 5px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}
