.house-discover{
    .slick-slider{
        height: 70vh;
        .slick-track{
            display:flex;
        }
        .slick-arrow{
            top: 13rem;
            background-color: #888;
            border-radius: 50%;
        }
    }
    
        .row{
        height: auto;
        width: 300px;
        cursor: pointer;
        .individual-house{
            overflow: hidden;
            width: 300px;
            margin-right: 10px;
            border-radius: 15px;
        }
        img{
            filter: brightness(75%);
            width: 300px;
            height: 400px;
    
            object-fit: cover;
            transition: all .3s ease;
        }
        img:hover{
            transform: scale(1.1);
            overflow: hidden;
        }
        .bgcard{
            height: 416px;
        }
        h2, button{
            position: absolute;
        }
        h2{
            font-weight: 700;
        top: 10px;
        left: 29px;
        font-size: 20px;
        color: white;
    
        }
        button{
            bottom: 14px;
            padding: 10px;
            left: 5rem;
            background-color: white;
            border-radius: 9px;
        }
    }
    img:nth-child(odd){
        width: 300px;
        height: 200px;
    }
    
    .explorehouse{
        width: 98%;
        text-align: center;
        .container-fluid{
    .slider{
        width:100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }}
    }
    }
  
    