@use "./Commonsstyles.scss" as *;

.main-section {
  margin-top: -21vh;
  width: 100%;
  height: 100vh;
  background: url("../../public/images/homepage/abc3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  .main-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.208);
    .main {
      padding-top: 350px;
      padding-bottom: 200px;
      .main-text {
        color: white;

        h1 {
          font-weight: bold;
        }
      }

      button {
        border-radius: 10px;
        width: fit-content;
        background-color: white;
        color: bla10;
        padding: 6px 14px;
      }
    }
  }
}
