@use "./Commonsstyles.scss" as *;

.box {
  background-color: transparent;
  width: 100%;
  z-index: 1;
  .appbar {
    background-color: transparent;
    box-shadow: none;
    position: sticky;
   

  }

  img {
    height: 50px;
    width: 100px;
    background-color: transparent;
  }
}
