@use "./Commonsstyles.scss" as *;

.topbar-section{
    padding: 0 30px;
    height: 10vh;
    width: 100%;
    color: white;
    background-color: transparent;  
    display: flex; 
    justify-content: space-between;

    .left-part{
        display: flex;

        .icons{
            display: flex;
        }

        .gmail{
            padding-left: 20px;
            gap: 5px;
            display: flex;
            
        }
    }
    .right-part{
        justify-content: space-between;
        display: flex;

        .location{
            display: flex;
            gap: 5px;
        }
        .user-profile{
            padding-left: 20px;
            display: flex;
        }
    }
}