@use "./Assests/Commonsstyles.scss" as *;

.App {
  text-align: center;
}

*{
  margin: 0;
  box-sizing: border-box;
}

.button{
  border-radius: 20px;
  padding: 1vh 5vh;
  width: fit-content;
  background-color: $button_backgroud;
  color: white;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo{
  height: 50px;
  width: 100px;
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 0.2em;
  background-color: #F5F5F5;
} 
 
body::-webkit-scrollbar-thumb {
  background-color: #000000;
} 
 
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
.card-body .bottom-card .card-text::-webkit-scrollbar {
  width: 0.2em;
  background-color: #F5F5F5;
} 
 
.card-body .bottom-card .card-text::-webkit-scrollbar-thumb {
  background-color: #3b0fec;
} 
 
.card-body .bottom-card .card-text::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
